

.hero2{
    width:100%;
    height:450px;
    background-image: url("https://images.unsplash.com/photo-1543269865-0a740d43b90c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    
    position:relative;
}
.text2{
   
    color:white;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:450px; 
    padding:10rem;
    background-image: linear-gradient(to top,rgb(0,0,0,1) 5%,rgb(0,0,0,.4) ,rgb(0,0,0,.2)50%)
    /* linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0.5),),rgba(0,0,0,0.4),rgba(0,0,0,0);
 */

}
.text2 h1{
    letter-spacing: 3px;
}